
#app {
  min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 500px;
   margin: 40px auto;
   padding: 0 12px;
   background-color: white;
   
 }